* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #4F5955;
    --sub-color-1: #F2EDDC;
    --sub-color-3: #D9C3A9;

    --white: #FFFFFF;
    --grey: #47504c;
    --medium-grey: #E6E6E6;
    --light-grey: #F7F7F7;
    --extra-light-grey-1: #EAEAEA;
    --extra-light-grey-2: #ECECEC;
    --dark-grey: #4B5264;
    --black: #0E0E0E;

    --note-1: #9C9EA6;
    --body-text: #535656;
    --text-light: #999999;
    --text-dark: #2D303A;

    --input-border: #EBEBEB;
    --input-placeholder: #AAAAAA;
    --shadow-color: #5356566b;

    --stars: #333333;
    --line-color: #636b68;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--body-text);
    background-color: var(--white);
    line-height: 1;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;

    @media (min-width: 615px) {
        font-size: 2.5rem;
    }

    @media (min-width: 1015px) {
        font-size: 3.5rem;
    }

    @media (min-width: 1220px) {
        font-size: 4.3rem;
    }
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;

    @media (min-width: 615px) {
        font-size: 1.8rem;
    }

    @media (min-width: 1100px) {
        font-size: 2.5rem;
    }

    @media (min-width: 1260px) {
        font-size: 3rem;
    }
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;

    @media (min-width: 1100px) {
        font-size: 1.2rem;
    }

    @media (min-width: 1260px) {
        font-size: 1.3rem;
    }
}

.category {
    color: var(--sub-color-3);
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: .6rem;
}

.quote {
    font-weight: 300;
    font-style: italic;
    font-size: 1.2rem;
}

.paragraph {
    font-size: .9rem;
}

.btn {
    background-color: var(--main-color);
    color: var(--sub-color-1);
    padding: 1.2em 2em;
    border: none;
    border-radius: .3em;
}

.input {
    padding: 1.4em;
    border: 1px solid var(--input-border);
    border-radius: .3em;
    font-size: .8rem;
    font-style: italic;
    color: var(--note-1);

    &:active, &:focus {
        outline: none;
        border: 1px solid var(--note-1);
        color: var(--body-text);
        background-color: var(--light-grey);
        font-style: normal;
    }
}

/* #region Header styles */
header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header stays above other content */
}
.head-contact-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 0 .7rem;
    
    .head-contact-info {
        width: 100%;
        max-width: 1200px;
        font-size: .6rem;
        color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;       
        gap: .5rem; 

        @media (min-width: 360px) {
            flex-direction: row;
        }

        @media (min-width: 576px) {
            font-size: .8rem;
        }
    }

    & p {
        margin-top: .5rem;

        @media (min-width: 360px) {
            margin-top: 0;
        }
    }

    .social-media-container {
        display: flex;

        & hr {
            border: 1px solid var(--line-color);
        }

        & a {
            padding: .5rem 1rem;
            text-decoration: none;
            background-color: transparent;
        }

        & a:hover {
            background-color: var(--grey);
            transition: background-color .2s ease-in-out;
        }
        
        .fa-brands {
            color: var(--white);

            @media (min-width: 576px) {
                padding: .6rem;
            }
        }
    }
}

.nav-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0 3px 5px var(--shadow-color);
    padding: .7rem;

    .nav {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .onatrix-logo {
        width: 15vw;
        min-width: 100px;
        max-width: 145px;
    }

    .nav-right {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media (min-width: 576px) {
            .fa-ellipsis-vertical {
                display: none;
            }
        }
    }

    .menu {
        display: none;
        
        @media (min-width: 576px) {
            display: flex;
            gap: clamp(1rem, 1rem + 5vw, 5rem);
            padding-right: 2rem;
            list-style: none;
        }

        .menu-item a {
            text-decoration: none;
            color: var(--main-color);
            font-weight: 700;
            font-size: .8rem;
            padding: 1rem 0;
            display: block;
            transition: color .2s ease-in-out;
            cursor: pointer;
        }

        .menu-item a:hover, .menu-item a:focus {
            color: var(--sub-color-3);
        }
    }

    .fa-ellipsis-vertical,
    .fa-magnifying-glass {
        color: var(--main-color);
        cursor: pointer;
        padding: .5rem;
    }
}
/* #endregion */


/* #region Hero styles */
.hero-wrapper {
    width: 100%;
    min-height: 100dvh;
    min-height: 700px;

    .hero {
        flex: 1;
        min-height: 300px;
        background-image: url('../Images/HeroImage.svg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem .5rem;

        @media (min-width: 1000px) {
            max-height: 500px;
        }

        & .container {
            height: 90%;
            gap: 1rem;

            @media (min-width: 576px) {
                gap: 2rem;
            }

            .btn-contact {
                align-self: flex-start;
            }
        }

        .container p {
            max-width: 50%;
        }
    }

    .about-us {
        flex: 1;
        min-height: 300px;
        padding: 1.5rem .5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 920px) {
            flex-direction: row;
        }
        
        & .container {
            gap: 3rem;

            @media (min-width: 920px) {
                flex-direction: row;
                justify-content: space-between;
                gap: 1rem;
                margin-top: -70px;
            }

            .text-content {
                display: flex;
                flex-direction: column;
                gap: .7rem;

                @media (min-width: 920px) {
                    width: 60vw;
                    align-self: center;
                }
            }

            .signature {
                width: 25vw;
                max-width: 161px;
                height: 100%;
                max-height: 4.8rem;
                object-fit: cover;
            }

            .category {
                color: var(--sub-color-3);
                font-size: .9rem;
                font-weight: 700;
                margin-bottom: .6rem;
            }

            .quote {
                font-weight: 300;
                font-style: italic;
                font-size: 1.2rem;
            }
            
            .paragraph {
                font-size: .9rem;
            }
        }
        
        .form-container {
            width: 100%;
            box-shadow: 0 0 8px var(--shadow-color);
            margin-bottom: .5rem;
            max-width: 470px;
            align-self: center;

            @media (min-width: 900px) {
                width: 40%;
                min-width: 450px;
                max-width: 470px;
                align-self: flex-end;
            }

            & h3 {
                width: 100%;
                text-align: center;
                background-color: var(--main-color);
                color: var(--sub-color-1);
                padding: 1.5rem;
            }

            .callback-form {
                display: flex;
                flex-direction: column;
                gap: 1.4rem;
                padding: 2rem;
            }

            .btn-submit {
                background-color: var(--sub-color-1);
                color: var(--main-color);
                font-weight: 700;
                padding-top: 1.6em;
                transition: all .2s ease-in-out;

                &:hover, &:focus-visible {
                    background-color: var(--main-color);
                    color: var(--sub-color-1);
                }

                &:active {
                    background-color: var(--sub-color-1);
                    color: var(--main-color);
                }
            }

            .form-info-text {
                font-size: .9rem;
                font-weight: 300;
                font-style: italic;
            }
        }
    }
}
/* #endregion */


/* #region Our services homepage styles */
.services-wrapper {
    width: 100%;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;

    & .container {
        padding: 2rem .5rem;
        gap: 1rem;
        align-items: center;

        & h2 {
            text-align: center;
        }
    }
    
    & .card-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .card {
            width: 100%;
            max-height: 423px;
            background-color: var(--white);
            padding-block: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            box-shadow: 0 0 8px var(--shadow-color);
        }

        &img {
            width: 100%;
            object-fit: cover;
        }

        & .title, 
        & .description {
            margin-inline: 2rem;
        }
    }
}
/* #endregion */